# File: roles/nginx/tasks/nginx_websites.yml
---
- name: 'Create Nginx template for website'
  template:
    src: "{{ item.value.nginx.template }}.j2"
    dest: "/etc/nginx/sites-available/{{ item.key }}.conf"
  with_dict: "{{ all_websites }}"
  when: item.value.nginx.template is defined
  notify:
    - Reload nginx
  tags:
    - configuration
    - nginx

- name: 'Create Nginx symlink for website'
  file:
    state: "{{ item.value.state | default('link') }}"
    path: "/etc/nginx/sites-enabled/{{ item.key }}.conf"
    src: "../sites-available/{{ item.key }}.conf"
  with_dict: "{{ all_websites }}"
  when: item.value.nginx.template is defined
  notify:
    - Reload nginx
  tags:
    - configuration
    - nginx

- name: 'Create Nginx log directory for website'
  file:
    state: directory
    path: "/var/log/nginx/{{ item.key }}"
    owner: 'www-data'
    group: 'adm'
    mode: 0750
  with_dict: "{{ all_websites }}"
  when: item.value.nginx.template is defined
  tags:
    - nginx
