---
- name: 'Check remote website directory'
  stat:
    path: "{{ web_home_path }}/{{ item.value.user }}/www/{{ item.key }}"
    follow: True
    get_md5: False
  with_dict: "{{ all_websites }}"
  register: www_stat

- name: 'Create root directory for website'
  file:
    state: directory
    path: "{{ web_home_path }}/{{ item.item.value.user }}/www/{{ item.item.key }}"
    owner: "{{ item.item.value.user }}"
    group: 'www-data'
    mode: 0750
  when: not item.stat.exists
  with_items: www_stat.results

- name: 'Unpack backup'
  become_user: "{{ item.item.user }}"
  unarchive:
    src: "{{ backup_path }}/{{ item.item.key }}.tgz"
    dest: "{{ web_home_path }}/{{ item.item.value.user }}/www/{{ item.item.key }}"
  when: not item.stat.exists and item.item.value.backup is defined
  with_items: www_stat.results
