{% if item.limit_req|default('Yes')|bool %}
limit_req_zone $binary_remote_addr zone=dos_{{ item.name }}:{{ item.limit_req_size|default('2m') }} rate={{ item.limit_req_rate|default('3r/s') }};
{% endif %}

server {
	server_name {{ item.name }};
	listen 80;
	listen [::]:80;
	root /var/www/{{ item.user }}/www/{{ item.name }};
	access_log /var/log/nginx/{{ item.name }}/access.log;
	error_log /var/log/nginx/{{ item.name }}/error.log;

	gzip on;
	gzip_types text/plain application/xml text/css text/js text/xml application/javascript;
{% if item.nginx_root_options is defined %}

{% for i in item.nginx_root_options %}
	{{ i }};
{% endfor %}
{% endif %}

	location / {
{% if item.limit_req|default('Yes')|bool %}
		limit_req zone=dos_{{ item.name }} burst={{ item.limit_req_burst|default('10') }} nodelay;
{% endif %}
		proxy_set_header X-Real-IP  $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header Host $host;
		proxy_pass http://127.0.0.1:8080;
	}

	location = /favicon.ico {
		log_not_found off;
		access_log off;
	}

	location = /robots.txt {
		allow all;
		log_not_found off;
		access_log off;
	}

	location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
		expires max;
		log_not_found off;
	}
}
{% if item.serveralias is defined %}

server {
	server_name{% for i in item.serveralias %} {{ i }}{% endfor %};
	listen 80;
	listen [::]:80;
	rewrite ^/(.*)$ http://{{ item.name }}/$1 permanent;
	access_log off;
	error_log /var/log/nginx/{{ item.name }}/error.log;
}
{% endif %}
