limit_req_zone $binary_remote_addr zone=dos_{{ item.key }}:2m rate=3r/s;

server {
	server_name {{ item.key }};
	listen 80;
	listen [::]:80;
	root /var/www/{{ item.value.user }}/www/{{ item.key }};
	access_log /var/log/nginx/{{ item.key }}/access.log;
	error_log /var/log/nginx/{{ item.key }}/error.log;

	gzip on;
	gzip_types text/plain application/xml text/css text/js text/xml application/javascript;
{% if item.value.nginx.root_options is defined %}

{% for i in item.value.nginx.root_options %}
	{{ i }};
{% endfor %}
{% endif %}

	location / {
		limit_req zone=dos_{{ item.key }} burst=10 nodelay;
		proxy_set_header X-Real-IP  $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header Host $host;
		proxy_pass http://127.0.0.1:8080;
	}

	location ^~ /files/products/ {
		proxy_set_header X-Real-IP  $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header Host $host;
		proxy_pass http://127.0.0.1:8080;
	}

	location ^~ /files/categories/ {
		proxy_set_header X-Real-IP  $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header Host $host;
		proxy_pass http://127.0.0.1:8080;
	}

	location ^~ /simpla/design/js/tiny_mce/plugins/ {
		proxy_set_header X-Real-IP  $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header Host $host;
		proxy_pass http://127.0.0.1:8080;
	}

	location ^~ /js/ {
		access_log off;
	}

	location ^~ /design/ {
		access_log off;
	}

	location ^~ /files/uploads/ {
		access_log off;
	}

	location ^~ /simpla/design/ {
		access_log off;
	}

	location = /favicon.ico {
		log_not_found off;
		access_log off;
	}

	location = /robots.txt {
		allow all;
		log_not_found off;
		access_log off;
	}
}
{% if item.value.serveralias is defined %}

server {
	server_name{% for i in item.value.serveralias %} {{ i }}{% endfor %};
	listen 80;
	listen [::]:80;
	return 301 http://{{ item.key }}$request_uri;
	access_log off;
	error_log /var/log/nginx/{{ item.key }}/error.log;
}
{% endif %}
