limit_req_zone $binary_remote_addr zone=dos_{{ item.name }}:2m rate=3r/s;

server {
	server_name {{ item.name }};
	listen 80;
	listen [::]:80;
	root /var/www/{{ item.user }}/www/{{ item.name }};
	access_log /var/log/nginx/{{ item.name }}/access.log;
	error_log /var/log/nginx/{{ item.name }}/error.log;

	location / {
		limit_req zone=dos_{{ item.name }} burst=10 nodelay;
		proxy_set_header X-Real-IP  $remote_addr;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_set_header Host $host;
		proxy_pass http://127.0.0.1:8080;
	}

	location = /favicon.ico {
		log_not_found off;
		access_log off;
	}

	location = /robots.txt {
		allow all;
		log_not_found off;
		access_log off;
	}

	location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
		expires max;
		log_not_found off;
	}
}
{% if item.serveralias is defined %}

server {
	server_name{% for i in item.serveralias %} {{ i }}{% endfor %};
	listen 80;
	listen [::]:80;
	rewrite ^/(.*)$ http://{{ item.name }}/$1 permanent;
	access_log off;
	error_log /var/log/nginx/{{ item.name }}/error.log;
}
{% endif %}
