server {
	server_name {{ item.key }};
	listen 80;
	listen [::]:80;
	autoindex off;
	root /var/www/{{ item.value.user }}/www/{{ item.key }};
	access_log /var/log/nginx/{{ item.key }}/access.log;
	error_log /var/log/nginx/{{ item.key }}/error.log;

	gzip on;
	gzip_types text/plain application/xml text/css text/js text/xml application/javascript;
{% if item.value.nginx.root_options is defined %}

{% for i in item.value.nginx.root_options %}
	{{ i }};
{% endfor %}
{% endif %}

	location = /favicon.ico {
		log_not_found off;
		access_log off;
	}

	location = /robots.txt {
		allow all;
		log_not_found off;
		access_log off;
	}

	location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
		expires max;
		log_not_found off;
	}
}
{% if item.value.serveralias %}

server {
	server_name{% for i in item.value.serveralias %} {{ i }}{% endfor %};
	listen 80;
	listen [::]:80;
	return 301 http://{{ item.key }}$request_uri;
	access_log off;
	error_log /var/log/nginx/{{ item.key }}/error.log;
}
{% endif %}
