[uwsgi]
chdir=/var/www/{{ item.value.user }}/www/{{ item.key }}/
file=/var/www/{{ item.value.user }}/www/{{ item.key }}/boot_keys/wsgi.py
#logto=/var/log/uwsgi/app/{{ item.key }}
#touch-reload=/var/www/{{ item.value.user }}/www/{{ item.key }}/reload
uid={{ item.value.user }}
gid=www-data
