<VirtualHost 127.0.0.1:8080>
	DocumentRoot "/var/www/{{ item.value.user }}/www/{{ item.key }}/"
	ServerName {{ item.key }}
	{% if item.value.serveralias is defined %}ServerAlias{% for i in item.value.serveralias %} {{ i }}{% endfor %} {% endif %}

	CustomLog /var/log/apache2/{{ item.key }}/access.log vhost_combined
	ErrorLog /var/log/apache2/{{ item.key }}/error.log
{% if item.value.php_admin_value is defined %}
{% for i in item.value.php_admin_value %}
	php_admin_value {{ i }}
{% endfor %}
{% endif %}
	<IfModule mpm_itk_module>
		AssignUserId {{ item.value.user }} {{ item.value.user }}
	</IfModule>
	<Directory "/var/www/{{ item.value.user }}/www/{{ item.key }}">
		AllowOverride All
	</Directory>
</VirtualHost>
